.comment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start; 
  padding: 60px; 
  gap: 20px; 
  position: relative;
}

.comment-card {
  flex: 1; 
  max-width: calc(50% - 40px); 
  min-width: 300px;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  height: auto;
  border-radius: 10px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.699) 0%, rgb(242, 227, 153) 100%);
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  border: 10px solid #403B31;
  padding: 20px;
  margin: 10px 0;
}
.comment-card::before {
  content: '';
  position: absolute;
  left: -5%;
  top: 10%;
  height: 15px;
  width: 15px; 
  background-color: #465E6C; 
  border-radius: 50%;
  box-shadow: 0 0 0 2px white; 
}

.comment-card::after {
  content: '';
  position: absolute;
  left: -5%;
  top: 30%; 
  height: 15px;
  width: 15px;
  background-color: #465E6C; 
  border-radius: 50%;
  box-shadow: 0 0 0 2px white; 
}


.comment-card:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.644);
  transform: translateY(0px);
}

.comment-card img {
  max-width: 100%;
  height: auto;
  border-radius: 16%;
}

.comment-card h2, .comment-card h5 {
  font-size: 1em;
  font-weight: 200;
  color: black;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.comment-text {
  text-align: center;
  padding: 20px;
}

.comment-name {
  font-weight: bolder;
}

.nocomments {
  text-align: center;
  margin-left: 5%;
}

@media screen and (max-width: 768px) {
  .comment-container {
    padding: 30px; 
  }
  .comment-card {
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 480px) {
  .comment-container {
    padding: 20px;
  }
  .comment-card {
    max-width: 100%;
  }
}