.comment-container {
  display: flex;
  align-items: center;
  margin: 60px;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-left: calc(65% + 60px);
  width: calc(80% - 120px);
}

.comment-card {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  height: auto;
  border-radius: 10px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.699) 0%, rgb(255, 255, 255) 100%);
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
}

.comment-card:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.644);
  transform: translateY(0px);
}

.comment-card img {
  max-width: 100%;
  height: auto;
  border-radius: 16%;
}

.comment-card h2, .comment-card h5 {
  font-size: 1em;
  font-weight: 200;
  color: black;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

.comment-text {
  text-align: center;
  padding: 20px;
}

.comment-name {
  font-weight: bolder;
}

.nocomments {
  text-align: center;
  margin-left: 5%;
}

@media screen and (max-width: 768px) {
  .comment-container {
    margin-left: calc(35% + 60px);
    width: calc(65% - 120px);
    .comment-card {
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 480px) {
  .comment-container {
    margin: 20px;
    margin-left: calc(50% + 20px);
    width: calc(50% - 40px);
    .comment-card {
      max-width: 100%;
    }
  }
}