  
    .landingPic {
      background-image: url("../images/p1.png");
      min-height: 100vh; 
   
      background-size: cover;
      background-position: center;
    }
  
  .selectsearch {
    font-size: 16px;
    font-weight: bold;
    padding: 6px 3px;
    width: 100%; 
    max-width: 350px; 
    margin: 0 auto; 
    display: block;
    outline: none;
    color: #000000;
    border-radius: 20px;
    transition: .3s ease;
  }
  .inputContainer {
    background-color: rgba(53, 40, 40, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
  }
  
.terms{
  color: #ffffff;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .landingPic {
      display: none;
    }
  
    .inputContainer {
      width: 100%; 
    }
  
    .inputField input {
      width: 25%; 
      margin: 0 auto; 
      background-color: rgba(255, 255, 255, 0.8);
      border: none; 
      color: var(--main-text-color);
    }
  }

  


  