body {
  font-family: 'Montserrat', sans-serif;
}
    .landingPic {
      background-image: url("../images/p9.jpg");
      min-height: 100vh; 
   
      background-size: cover;
      background-position: center;
    }
  
  .selectsearch {
    font-size: 16px;
    font-weight: bold;
    padding: 6px 3px;
    width: 100%; 
    max-width: 350px; 
    margin: 0 auto; 
    display: block;
    outline: none;
    color: #000000;
    border-radius: 20px;
    transition: .3s ease;
  }
  .inputContainer {
    background-color: rgba(53, 40, 40, 0.9); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
  }
  
.terms{
  color: #ffffff;
  }
  .title {
    text-align: center;
    margin-bottom: 20px; 
    color: white;
  }

  .subtitle {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
  }
  