/* Estilo para el fondo oscurecido */
.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
  }
  
  /* Estilo para el popup */
  .popup {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.019); 
    padding: 10vh;
    max-width: 80%; 
    text-align: center;
    position: relative;
  }
  
 
  .close-button {
    position: absolute;
    top: 8vh;
    right: 8vh;
    background-color: red;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  