.randompic{
    width: 20vh;
    height: 20vh;
    margin-right: 10vh;
    transform: translate(70%);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.piclist{
    text-decoration: none;
    list-style: none;
}
@media (max-width: 768px) {
    .randompic, .piclist {
        display: none;
    }
}