.randompic{
    width: 15vh;
    height: 15vh;
    margin-right: 10vh;
    transform: translate(70%);
    border-radius: 60%;
    margin: 10px 0;
    cursor: pointer;
}
.piclist{
    text-decoration: none;
    list-style: none;
}
@media (max-width: 768px) {
    .randompic, .piclist {
        display: none;
    }
}