.randompic{
    width: 20vh;
    height: 20vh;
    margin-right: 10vh;
}
.piclist{
    text-decoration: none;
    list-style: none;
}
@media (max-width: 768px) {
    .randompic, .piclist {
        display: none;
    }
}