@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif; 
}

:root {
    --mainColor: #ffffff;
    --mainColorLight: #000000;
    --secondaryColor: white;
    --textColor: rgb(12, 12, 12);
}

header {
    background-color: #d5c6a5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav a {
    margin: 0 1rem; 
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nava {
    margin-right: 2rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden; 
    opacity: 0;
    font-size: 1.8rem;
}

header div,
nav {
    display: flex;
    align-items: center;
}

.profilepic {
    height: 60px;
    width: auto;
    
}

@media only screen and (max-width: 35em){
    header .nava{
       visibility: visible;
       opacity: 1;
       
    }
    header{
       background-color: #d5c6a5;
       position: fixed;
       z-index: 1004;
       width: 100%;
    }
    header nav {
        position: fixed;
        top: -10px;
        left: 0;
        height: 100%;
        width:  100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #d5c6a5;
        transition: 1s;
        transform: translateY(-100vh);   
        z-index: 1001; 
     }
     .selectsearchcards {
         display: flex; 
         align-items: center; 
         justify-content: center; 
         position: fixed;
         bottom: 0;
         left: 0;
         width: 100%; 
         margin: 0 auto; 
         color: #000000;
         z-index: 1002; 
     }
    header .move_nav{
       transform: none;
       
    }
    nav .close{
       position: absolute;
       top: 2rem;
       right: 2rem;
    }
    nav a {
       font-size: 1.5rem;
    }
   }