html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, #031517, #163e48, #041c1f);
    font-family: 'Arial', sans-serif;
    color: #000000; 
  }
  
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .user-profile h1 {
    font-size: 2em;
  }
  
  .user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #333;
    margin-bottom: 20px;
  }
  
  .comments-section {
    margin-top: 30px;
  }
  
  .comments-section h2 {
    font-size: 1.5em;
  }
  
  .comment {
    background-color: #ffffff;
    border: 1px solid #221414;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    max-width: 100vh;
    list-style: none;
  }


  
  @media screen and (max-width: 600px) {
    .user-profile {
      flex-direction: column;
      align-items: center;
    }
  }
  